

<h1>Goal: <%= @goal.title %></h1>

Privacy Level: <%= @goal.private ? 'private' : 'public' %>
Status: <%= @goal.status.downcase.capitalize %>



<p><%= link_to "Edit Goal", edit_goal_url(@goal) %></p>
<p><%= button_to "Delete Goal", @goal, method: :delete %></p>
<p><%= link_to "Back to your goals", goals_url %></p>